<div class="jumbotron">
  <h1 class="display-3">Dashboard</h1>
  <p class="lead">Use the menu on the left to add, edit and view all gems.</p>
  <hr class="my-4">
  <p>Changes will automatically be applied to site.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Preview Site</a>
  </p>
</div>