<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/styles/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/main.css")
        script(src="scripts/jquery-3.4.1.min.js")
        script(src="https://kit.fontawesome.com/4bb07c6c17.js", crossorigin="anonymous")
    body
        div.container
            .row
                nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.col-lg-12
                    a.navbar-brand(href="/") Gem Store
                    ul.navbar-nav.mr-auto
                        if isAuthenticated && isAdmin
                            li.nav-item
                                a.nav-link(href="/dashboard") Dashboard
                        li.nav-item
                            a.nav-link Catalog
                        li.nav-item
                            a.nav-link About
                        li.nav-item
                            a.nav-link Contact Us
                    ul.navbar-nav
                        if isAuthenticated
                            li.nav-item
                                form(action="/logout", method="POST")
                                    button(type="submit").btn.btn-primary Logout
                            li.nav-item.d-block.align-self-center
                                a(href="/cart").shopping-cart__link
                                    i.fas.fa-shopping-cart.fa-2x
                                    .shopping-cart-count__container
                                        if cartCount > 9
                                            p.shopping-cart-count__text.text-center #{cartCount}
                                        else 
                                            p.shopping-cart-count__text.shopping-cart-count__text--padding.text-center #{cartCount}
                                    
                        else
                            li.nav-item
                                a.nav-link(href="/sign-up") Sign Up
                            li.nav-item
                                a.nav-link(href="/login") Login
                block content

        .container-fluid
            nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.col-lg-12.mt-5
                p Brook Mesfin Copyright 2020