extends layouts/layout.pug

block content
    .jumbotron.col-lg-12(style="background: url(images/banner_1.jpg); background-position: center center")
        h1.display-3.text-center New Year Sale! 
    .col-lg-12.text-center
        h2.display-5.mb-4 Featured Products
    include catalog.pug
