.user-icon {
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

.button-cursor{
    cursor: pointer;
}

.shopping-cart__link{
    color: white;
}

.shopping-cart__link:hover{
    color: rgb(177, 177, 177);
}

.shopping-cart-count__container {
    position: absolute;
    top: 36px;
    left: 1073px;
}

.shopping-cart-count__text {
    color: black;
    font-size: 11px;
    font-family: sans-serif;
    margin-bottom: 0;
}

.shopping-cart-count__text--padding{
    padding-left: 4px;
}

.shopping-cart-item__image{
    width: 150px;
    height: 125px;
}